.container {
  position: absolute;
  height: 100%;
  border-right: 1px solid silver;
  width: 250px;
  left: 0px;
  transition-duration: 0.5s;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
}
.container .fa-times,
.container .fa-bars {
  font-size: 40px;
  position: absolute;
  right: -50px;
  top: 10px;
}
.timer-container button {
  background-color: rgb(180, 180, 180);
  border: 1px solid rgb(129, 129, 129);
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15px;
}
h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timer-container ul {
  width: 115px;
  text-align: center;
  overflow: hidden;
  padding: 10px 20px 25px;
  margin: 0px auto;
}
.timer-container label {
  display: block;
  margin: 5px 0px;
  font-size: 20px;
}
.timer-container li.divide {
  vertical-align: middle;
  margin: 0px 10px;
  font-size: 40px;
  width: 15px;
  text-align: center;
}
.timer-container li {
  display: inline-block;
}
input[type="number"] {
  text-align: center;
  height: 50px;
  font-size: 20px;
  width: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

.interval-setting-container {
  margin-top: 20px;
}
.interval-setting-container div ul li {
  display: inline-block;
}
.interval-setting-container input[type="number"] {
  width: 60px;
}
.interval-setting-container b {
  display: inline-block;
  margin-bottom: 10px;
}
.interval-setting-container button {
  margin: 5px;
  width: 60px;
}

.schedule-list-container {
  margin-top: 20px;
}
.schedule-list-container .from-time {
  font-size: 18px;
}
.schedule-list-container ul li {
  margin: 10px 0px;
  font-size: 16px;
}
.schedule-list-container .btn {
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
  margin: 5px 5px;
}
.schedule-list-container .start-btn {
  background-color: #11b329;
  border: 1px solid #098c1d;
}
.schedule-list-container .reset-btn {
  background-color: #949494;
  border: 1px solid #5a5a5a;
}

.schedule-list-container .save-btn {
  background-color: royalblue;
  border: 1px solid #2b4db5;
}
.schedule-list-container .remove-btn {
  background-color: #f5320f;
  border: 1px solid #7b2414;
}
